@import "tailwindcss";

body{
    background-color: #010000;
    width: 100vw;
    overflow-x: hidden;
    font-family: "montserrat", sans-serif;
    color: white;
}

.ql-container{
    border: none !important;
}
.ql-toolbar{
    border: none !important;
}

.ql-editor img {
  max-width: 100%;
  height: auto;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}